In [65]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
options = Options()

options.add_argument("--disable-gpu")
options.add_argument("--no-sandbox")
options.add_argument("--disable-dev-shm-usage")
options.add_argument("--disable-extensions")
options.add_argument("--disable-software-rasterizer")
# Enable automation features to make the browser look more like a real user
options.add_experimental_option('excludeSwitches', ['enable-automation'])
options.add_experimental_option('useAutomationExtension', False)
options.add_argument("--disable-blink-features=AutomationControlled")
driver = webdriver.Chrome(options=options)

In [34]:
from datetime import datetime

In [66]:

query = "zamzie"
active_status = "all"
countary = "NL"
media_type = "all"
url = f"https://www.facebook.com/ads/library/?active_status={query}&ad_type=all&country={countary}&q={query}&search_type=keyword_unordered&media_type={media_type}"

driver.get(url)

In [67]:
allads = driver.find_elements(By.XPATH, "//div[contains(text(), 'details')]")

In [68]:
allads[2].click()

In [19]:
cardXpath = "//body/div[@data-visualcompletion='ignore']/div/div[@data-visualcompletion='ignore']/div/div[@role='dialog']"
# //div[@data-visualcompletion='ignore']//div//div[@role='dialog']

card = driver.find_element(By.XPATH, cardXpath)

In [70]:
ad_details = driver.find_elements(By.XPATH, "//div[@data-visualcompletion='ignore']//div//div[@role='dialog']//div[@class='x3nfvp2 x1e56ztr']")
adArchiveID  = ad_details[0].text.split(":")[1].strip()
adUrl = f"https://www.facebook.com/ads/library/?id={adArchiveID}"
ad_status_type = ad_details[1].text
duplicate = ad_details[4].text
if "inactive" in ad_status_type.lower():
    date_range = ad_details[2].text
    start_date_str, end_date_str = date_range.split('-')
    
    start_date = datetime.strptime(start_date_str.strip(), "%d %b %Y")
    end_date = datetime.strptime(end_date_str.strip(), "%d %b %Y")
else:
    start_date = ad_details[2].text
    start_date  = " ".join(start_date .split()[3:])  # Extract the date part from the string
    start_date  = datetime.strptime(start_date ,"%d %b %Y")  # Parse the date
    end_date = None

if end_date is not None:
    numberOfActiveDay = (end_date - start_date).days
else:
    numberOfActiveDay = (datetime.now() - start_date).days
driver.find_element(By.XPATH, "//div[@data-visualcompletion='ignore']//div//div[@role='dialog']//div[contains(text(),'European Union transparency')]").click()
totalreach = driver.find_element(By.XPATH, "(//div[@class='x8t9es0 x10d9sdx xo1l8bm xrohxju x108nfp6 xq9mrsl x1h4wwuj xeuugli'])[3]").text.strip()

pageProfileUrl = driver.find_element(By.XPATH, "//div[contains(text(), 'ID')]").text
pageProfileUrl = "https://www.facebook.com/"+pageProfileUrl.split(":")[1].strip()
currentpageLike, followers , pageName =  get_like_follow(pageProfileUrl)
print(totalreach)
print(adArchiveID)
print(adUrl)
print(ad_status_type)
print(start_date)
print(end_date)
print(numberOfActiveDay)
print(duplicate)
print(pageProfileUrl)
print(currentpageLike)
print(followers)

239
441283901718356
https://www.facebook.com/ads/library/?id=441283901718356
Inactive
2024-04-24 00:00:00
2024-04-25 00:00:00
1
This ad has multiple versions

https://www.facebook.com/109048418284827

In [44]:

CallToActionButton
linkUrl 
description

In [84]:
def get_like_follow(pagelink):
    original_window = driver.window_handles[0]
    driver.switch_to.new_window('tab')
    driver.get(pageProfileUrl)
    driver.find_element(By.XPATH, "//div[@aria-label='Close']//i[@data-visualcompletion='css-img']").click()
    likes_element = driver.find_element(By.XPATH ,"//a[contains(@href, 'friends_likes')]")
    likes = likes_element.text
    followers = driver.find_element(By.XPATH ,"//a[contains(@href, 'followers')]").text.replace("followers", "").strip()
    pageName  =  driver.find_element(By.XPATH, "*//span//h1").text.strip()
    driver.close()
    driver.switch_to.window(original_window)
    return likes, followers , pageName

In [77]:
likes = likes.replace(" likes", "")

In [78]:
print(likes)

3.2K

28

45
90
135

In [16]:
print(len(DataList))

3

In [53]:
df = pd.DataFrame(result)

In [54]:
df.to_excel('hubSpotData.xlsx', index=False)

In [50]:
df

,name,description,overallRating,reviewCount,overallAdjustedRating,website,full,zip,countary,locality,street1,street2
0,Zenzero,At Zenzero we are all about providing more tha...,5.000000,1,4.047619,https://zenzero.co.uk,"Innovation Centre, Warwick Technology Park, Ga...",CV34 6UW,GB,Warwick,,
1,Zenzero,At Zenzero we are all about providing more tha...,4.966667,150,4.852941,https://zenzero.co.uk,"Innovation Centre, Warwick Technology Park, Ga...",CV34 6UW,GB,Warwick,,
2,Zenzero,At Zenzero we are all about providing more tha...,5.000000,34,4.629630,https://zenzero.co.uk,"Innovation Centre, Warwick Technology Park, Ga...",CV34 6UW,GB,Warwick,,
3,Zenzero,At Zenzero we are all about providing more tha...,5.000000,13,4.393940,https://zenzero.co.uk,"Innovation Centre, Warwick Technology Park, Ga...",CV34 6UW,GB,Warwick,,
4,Zenzero,At Zenzero we are all about providing more tha...,5.000000,3,4.130435,https://zenzero.co.uk,"Innovation Centre, Warwick Technology Park, Ga...",CV34 6UW,GB,Warwick,,
...,...,...,...,...,...,...,...,...,...,...,...,...
86,Zenzero,At Zenzero we are all about providing more tha...,0.000000,0,NaN,https://zenzero.co.uk,"Innovation Centre, Warwick Technology Park, Ga...",CV34 6UW,GB,Warwick,,
87,Zenzero,At Zenzero we are all about providing more tha...,4.971428,35,4.618182,https://zenzero.co.uk,"Innovation Centre, Warwick Technology Park, Ga...",CV34 6UW,GB,Warwick,,
88,Zenzero,At Zenzero we are all about providing more tha...,0.000000,0,NaN,https://zenzero.co.uk,"Innovation Centre, Warwick Technology Park, Ga...",CV34 6UW,GB,Warwick,,
89,Zenzero,At Zenzero we are all about providing more tha...,0.000000,0,NaN,https://zenzero.co.uk,"Innovation Centre, Warwick Technology Park, Ga...",CV34 6UW,GB,Warwick,,
90,Zenzero,At Zenzero we are all about providing more tha...,0.000000,0,NaN,https://zenzero.co.uk,"Innovation Centre, Warwick Technology Park, Ga...",CV34 6UW,GB,Warwick,,